#Name: Two-Photon Imaging Toolbox
#Author: Alex van der Bourg


Plugins>Two-Photon Imaging,"ROI Registration", ROI_Registration
Plugins>Two-Photon Imaging>Segmentation, "Image Segmentation", Image_Segmentation
Plugins>Two-Photon Imaging>Segmentation>OGB Data,"3D Segmentation", Volume_Segmentation
Plugins>Two-Photon Imaging>Segmentation>OGB Data, "2D Segmentation (time series)", Series_Segmentation
Plugins>Two-Photon Imaging,"Calculate Delta R/R", Calculate_DRR
Plugins>Two-Photon Imaging,"Calculate Delta F/F", Calculate_DFF
Plugins>Two-Photon Imaging, "ROI Parser", ROI_Parser
Plugins>Two-Photon Imaging>Tools,"Image Stabilizer", Image_Stabilizer
Plugins>Two-Photon Imaging>Tools, "Image Stabilizer Log Applier", Image_Stabilizer_Log_Applier
Plugins>Two-Photon Imaging>Tools, "Merge Image Stacks", RGB_Gray_Merge
